{% extends "base.html" %}

{% block main %}
    <ul type="circle">
        {% for v in vacancy %}

                <li><h3>Вакансия: {{ v.name }}</h3>
                    <ul type="circle">
                        <li><b>Описание:</b> {{ v.description }}</li>
                        <li><b>Навыки:</b> {{ v.key_skills }}</li>
                        <li><b>Компания:</b> {{ v.company }}</li>
                        <li><b>Регион:</b> {{ v.area_name }}</li>
                        <li><b>Время публикации:</b> {{ v.published_at }}</li>
                        <li><b>Оклад:</b> {{ v.salary }}</li>
                        <br>
                    </ul>
                </li>

        {% endfor %}
    </ul>
{% endblock main %}