{% extends "base.html" %}

{% block main %}
    <ul type="circle">
        {% for v in vacancy %}

                <li>Вакансия: {{ v.name }}
                    <ul type="circle">
                        <li>Описание: {{ v.description }}</li>
                        <li>Навыки: {{ v.key_skills }}</li>
                        <li>Компания: {{ v.company }}</li>
                        <li>Регион: {{ v.area_name }}</li>
                        <li>Время публикации: {{ v.published_at }}</li>
                        <li>Оклад: {{ v.salary }}</li>
                    </ul>
                </li>

        {% endfor %}
    </ul>
{% endblock main %}