<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>
<div class="wrapper">
    <header class="header">
        <h1 align="center">C# Программист</h1>
    </header>
    <div class="menu">
        <a href={% url "index" %}>Главная</a>
        <a href={% url "demand" %}>Восстребованость</a>
        <a href={% url "geography" %}>География</a><br>
        <a href={% url "skills" %}>Скиллы</a>
        <a href={% url "api" %}>Последние вакансии</a>
    </div>
    <div class="content">
        {% block main %}
        {% endblock main %}
    </div>
    <footer class="footer">
        <p>Сайт сделан в рамках итогового проекта по курсу Технологии программирования на Python</p>
        <p>Выполнил: Голунов Константин Александрович</p>
        <p>Группа: РИ-210943</p>
    </footer>
</div>
</body>
</html>