<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demand vacancy</title>
</head>
<body>
    <h2>Зарплата по годам</h2>
    <img src="../../{{ demand.salaryByYear }}" alt="">
    <h2>Вакансии по годам</h2>
    <img src="../../{{ demand.vacancyByYear }}" alt="">
    <h2>Зарплата по годам для выбранной профессии</h2>
    <img src="../../{{ demand.salaryByYearForProfession }}" alt="">
    <h2>Вакансии по годам для выбранной профессии</h2>
    <img src="../../{{ demand.vacancyByYearForProfession }}" alt="">
</body>
</html>