{% extends "base.html" %}

{% block main %}
    <div class="grafics">
    <div class="gRight">
        <h2>Зарплата по годам</h2>
        <img src="../media/{{ demand.salaryByYear }}" width="400" height="400" alt="">
        <h2>Вакансии по годам</h2>
        <img src="../media/{{ demand.vacancyByYear }}" width="400" height="400" alt="">
    </div>
    <div class="gLeft">
        <h2>Зарплата по годам для выбранной профессии</h2>
        <img src="../media/{{ demand.salaryByYearForProfession }}" width="400" height="400" alt="">
        <h2>Вакансии по годам для выбранной профессии</h2>
        <img src="../media/{{ demand.vacancyByYearForProfession }}" width="400" height="400" alt="">
    </div>
    </div>
    <h2 align="center">Статистика по годам</h2>
    <table class="table1" align="center">
        <tr>
            <th class="border" align="center">{{ 'Год' }}</th>
            <th class="border" align="center">{{ 'Заработная плата' }}</th>
            <th class="border" align="center">{{ 'Заработная плата С#' }}</th>
            <th class="border" align="center">{{ 'Вакансии' }}</th>
            <th class="border" align="center">{{ 'Вакансии C#' }}</th>
        </tr>
        {% for s in statistic %}
            <tr>
                <td class="border" align="center">{{ s.year }}</td>
                <td class="border" align="center">{{ s.avgSalary }}</td>
                <td class="border" align="center">{{ s.avgSalaryForProfession }}</td>
                <td class="border" align="center">{{ s.countVacancy }}</td>
                <td class="border" align="center">{{ s.countVacancyForProfession }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock main %}