* {
	margin: 0;
	padding: 0;
}

.header {
    width: 90%;
    margin-left: 10%;
    height: 10%;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

.menu {
    width: 10%;
    position: absolute;
    height: 100%;
    background: #9d0fff;
}

.content {
    width : 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 90px;
}

body {
    background: purple;
    height: 100%;
    margin: 0;
    color: white;
}

p {
    color: white;
}

.footer {
    height: 200px;
    width: 90%;
    margin-left: 10%;
    position: absolute;
}